<%= @collection.image %>
<h1><%= @collection.name %></h1>
<h2><%= @collection.description %></h2>
<p><%= @collection.link %></p>

<%# add link to add to portfolio. rember that the route is nested %>
<%#  collection_portfolio_collections_path  %>
<%#  /collections/:collection_id/portfolio_collections %>
