a {
  text-decoration: none;
}

.container {
  margin: 0px 15px;
  margin-top: 40px;
}

.fa-solid {
  font-size: 1.5rem;
  color: white;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: black;
  margin: 0px;
}

// Typography

h1, h2, h3, p {
  color: white;
}

.bg-img {
  position: relative;
  width: 390px;
  height: 300px;
  z-index: -1;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.collection-image-bg {
  position: absolute;
}

.collection-image-lg {
  width: 150px;
  height: 150px;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 15px;
}

html {
  font-family: 'Poppins', sans-serif;
}
