<div class="container">
  <div class="graph-days">
    <li>1 day</li>
    <li class="days-active">7 days</li>
    <li>30 days</li>
  </div>

  <div class="display">
    <div class="graph">
    </div>
  </div>

  <div class="portfolio-holdings">
    <% @portfolio.collections.each do |collection| %>
      <%= link_to collection_path(collection) do %>
        <div class="card-homepage">
          <div class="image-homepage" style="background-image: url('<%= collection.image %>');">
          </div>
          <div class="collection-details">
            <div class="info">
              <h2><%= collection.name %></h2>
              <div class="info-detail">
                <div class="short-desc">
                  <p>Items</p>
                </div>
              </div>
            </div>
          </div>
          <div class="price">
            <i class="fa-brands fa-ethereum"></i><p>
              <% unless collection.histories.last.nil? %>
                <%= collection.histories.last.price.round(2) %>
              <% else %>
                NIL
              <% end %></p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
