<div class="header">
  <div class="subheader">
    <%= link_to root_path do %>
      <div class="logo" style="background-image: url(<%= image_path 'mintly.png' %>);">
      </div>
    <% end %>
    <i class="fa-solid fa-user-tie"></i>
  </div>
</div>
