<div class="header">
  <div class="subheader">
    <%= link_to root_path do %>
      <div class="logo" style="background-image: url(<%= image_path 'mintly.png' %>);">
      </div>
    <% end %>
    <%= link_to logout_path do %>
      <div class="fa-solid fa-user-tie" style="background-image: url(<%= image_path 'mintly.png' %>);">
      </div>
    <% end %>
  </div>
</div>
