<div class="navbar ">
  <div class="nav-items">
    <li class="nav-item active">
      <i class="fa-solid fa-arrow-trend-up"></i>
    </li>
    <li class="nav-item">
      <i class="fa-solid fa-fire"></i>
    </li>
    <li class="nav-item">
      <i class="fa-solid fa-earth-americas"></i>
    </li>
  </div>
</div>
