<div class="navbar ">
  <div class="nav-items">
    <li class="nav-item">
      <%= link_to collections_path do %>
        <i class="fa-solid fa-earth-americas"></i>
      <% end %>
      <%= link_to collections_path do %>
        <p>Discover</p>
      <% end %>
    </li>
    <li class="nav-item">
        <i class="fa-solid fa-fire"></i>
      <p>Activity</p>
    </li>
    <li class="nav-item">
      <%= link_to portfolio_path(current_user.portfolio) do %>
        <i class="fa-solid fa-arrow-trend-up"></i>
      <% end %>
      <%= link_to portfolio_path(current_user.portfolio) do %>
      <p>Portfolio</p>
      <% end %>
    </li>
  </div>
</div>
