<div class="gradient-top">
</div>
<div class="home-container">
  <div class="home-page">

    <%= link_to new_user_session_path do %>
      <div class="logo" style="background-image: url(<%= image_path 'mintly.png' %>);">
      </div>
    <% end %>
  <br>
  <h1>Your NFT Portfolio</h1>
  <h1>In one place</h1>
  <br>
  <h1><%= link_to "Explore Mintly", new_user_session_path %></h1>
  </div>
</div>
<div class="gradient-bottom">
</div>
