<div class="gradient-top">
</div>
<div class="home-container">
  <div class="home-page">

    <%= link_to new_user_session_path do %>
      <div class="logo" style="background-image: url(<%= image_path 'mintly.png' %>);">
      </div>
    <% end %>
  <br>
  <h1><Strong>Your NFT Portfolio<Strong></h1>
      <h1><Strong>In One Place<Strong></h1>
  <br>
  <br>
  <br>
  <br>
  <h1><Strong><%= link_to "Explore Mintly", user_signed_in? ? portfolio_path(current_user.portfolio) : new_user_session_path %></Strong></h1>
  </div>
</div>
<div class="gradient-bottom">
</div>
