<div class="container">
  <div class="header">
    <div class="subheader">
      <h1>MINTLY</h1>
      <i class="fa-solid fa-user-tie"></i>
    </div>
    <div class="graph-days">
      <li>1 day</li>
      <li class="days-active">7 days</li>
      <li>30 days</li>
    </div>
  </div>

  <div class="display">
    <div class="graph-days">
    </div>
    <div class="graph">
    </div>
  </div>

  <div class="portfolio-holdings">
  </div>
</div>
