.back-button {
  padding-left: 20px;
  margin-top: 40px;
  // position: sticky;
  // top: 10px;
}

.m-btn {
  display: flex;
  margin: 20px auto;
}

.add-btn {
  border-radius: 15px;
  background-color: $red;
  width: 100px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;

  a {
    text-decoration: none;
    color: white;
  }
}
