.graph {
  position: relative;
}

.graph-days {
  color: white;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 20px;

  a {
    color: white;

    &.days-active {
      color: $lilac;
      font-weight: bold;
      border: 1px solid white;
      background-color: white;
      width: 77px;
      color: $lilac;
      padding: 2%;
      border-radius: 16px;
      text-align: center;
    }
  }

  p {
    font-size: 1.2rem;
    font-weight: bold;
  }
}

.graph-price {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
}

.show-price {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  position: absolute;
  align-self: center;
  top: 0px;

  h2 {
    margin: 0;
  }
}

.graph-desc {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
