.linkbox {
  border-radius: 15px;
  background-color: rgb(45, 45, 45);
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  width: 360px;
  color: white;
  gap: 10px;
  box-shadow: 0 0 7px rgba(255, 255, 255, 0.7);
  margin: auto;
  margin-bottom: 20px;
}

.collection-image {
  width: 56px;
  height: 56px;
  background-size: cover;
  background-repeat: no-repeat;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  flex-shrink: 0;
}

.collection-details {
  flex-grow: 1;

  .info-detail {
    display: flex;
  }

  .short-desc p {
    margin: 0px;
    color: white;
  }

  h2 {
    margin: 0;
    font-size: 1rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  a {
    text-decoration: none;
    color: white;
  }
}

.price {
  display: flex;
  flex-shrink: 0;
  align-items: center;
}

.price-3 {
  margin: auto 20px;
  padding-top: 8px;
  height: 52px;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  flex-grow: 0;
}

.purchase-price {
  display: flex;
  flex-shrink: 0;
  flex-grow: 0;
  justify-content: right;
}

.linkbox-purchased {
  border-radius: 15px;
  background-color: rgb(45, 45, 45);
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  width: 360px;
  color: white;
  gap: 10px;
  box-shadow: 0 0 7px rgba(153, 255, 128, 0.7);
  margin: auto;
  margin-bottom: 20px;
}
