.navbar {
  width: 100%;
  margin-top: auto;
  background-color: $red;
}

.nav-items {
  padding: 10px 0px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style: none;
  width: 100%;
}
