.navbar {
  width: 100%;
  margin-top: auto;
  background-color: black;
  position: sticky;
  bottom: 0;
}

.nav-items {
  padding: 10px 0px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style: none;
  width: 100%;
}

.nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.nav-item p {
  font-size: 0.8rem;
  margin: 4px 0px;
  padding: 0px;
}

.active {
  border: solid 1px #c89eac;
  background-color: #c89eac;
  padding: 0% 2%;
  border-radius: 16px;

  p {
    color: $purple;
  }

  .fa-solid {
    color: $purple;
  }
}
