.search-bar {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.search {
  border-radius: 15px;
  background-color: #2d2d2d;
  color: white;
  height: 35px;
  width: 250px;
}

.search-button {
  border-radius: 15px;
  background-color: #2d2d2d;
  color: white;
  height: 40px;
}
